/* Events.css */
.event-card {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .event-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .event-description {
    min-height: 60px;
  }

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}





.event-date {
    font-size: 0.85rem;
    font-style: italic;
}